# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
server

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Database
weights.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Directories
bin/
dist/
